<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Reset email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 0; padding: 0; background: #92278f;">
    <table align="center" width="100%">
        <table style="width: 600px; background: #fff; margin: 20px auto">
            <tr style="background: #7a2177; height: 10px;">
                <td>&nbsp;</td>
            </tr>
            <tr style="height: 10px;">
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="padding: 20px 30px;">
                    <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; color: #92278f">Recovery password - Maestro Server</h2>

                    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; color: #4b444b">Hi, {{name}}</p>

                    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; color: #4b444b">Forgot your password? Click the link below to reset your password.</p><br />

                    <a href="{{url}}" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 15px 20px; background-color: #92278f; font-size: 16px; color: #ffffff; border-radius: 4px; border-collapse: collapse; text-decoration: none;"><span style="color:#FFFFFF">Create a new password</span></a><br />

                    <br /><br />

                    <small style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; color: #4b444b">*If you didn&rsquo;t make this request, or made it by mistake, please ignore this email. Your password will remain as it was.</small>

                    <p>Thanks</p>
                </td>
            </tr>
            <tr style="height: 20px;">
                <td>&nbsp;</td>
            </tr>
            <tr style="background: #7a2177; height: 10px;">
                <td>&nbsp;</td>
            </tr>
        </table>
    </table>


</body>
</html>
