<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset email</title>
</head>
<body>

  <h1>Maestro recupere sua senha</h1>

  <p>{{name}}</p>

  <a href="{{url}}">Clique aqui para recuperar sua senha</a>

</body>
</html>
