{
    "parser": "babel-eslint",
    "rules": {
        "indent": [
            2,
            4
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0,
        "strict": 0
    },
    "env": {
        "node": true,
        "browser": true,
        "mocha": true
    },
    "extends": "eslint:recommended"
}
